.game-field {
    margin-top: 5px;
    margin-bottom: 5px;
    background-size: cover;
}
.game-field--text {
    color: rgba(31, 31, 31, 0.93);
    font-weight: bold;
    font-size: 24pt;
    text-align: center;
    text-shadow: 0 0 10px white;
}
