:fullscreen::backdrop { background:none }
.fullscreenStyle {
    overflow: auto;
}
button.controls {
    margin: 5pt;
    font-weight: bold;
}
div.controlsText {
    font-weight: bold;
}
@media (hover: none) and (pointer: coarse) {
    /* Fix for smartphones and touchscreens for sticky hover on the fullscreen button*/
    button.fsButton:hover {
        color: #0b5ed7 !important;
        background-color: white !important;
    }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
.fadeIn {
    animation: fadeIn 2.0s;
}
.fadeOut {
    animation: fadeOut 0.25s;
    opacity: 0;
}
